<div class="main">
  <div class="left">
    <div class="logo">
      <img src="assets/logo/logo_svg_sketchy.svg" alt="logo" class="logo_img"/>
    </div>
  </div>
  <div class="right">
    <div class="login_page">
      <h3 class="login_title">Login</h3>
      <form class="login-form" [formGroup]="dataForm" (ngSubmit)="login()">
        <input type="email" placeholder="email" class="login_input" formControlName="email"/>
        <input type="password" placeholder="password" class="login_input" formControlName="password"/>
        <button class="login_button">login</button>
        <br>
        <p class="message">Not registered? <a routerLink="/register">Create an account</a></p>
        <br>
        <button class="fblogin" (click)="signInWithFB()">
          <span class="fblogin_text">Login with Facebook</span>
        </button>
      </form>
  </div>
</div>




